<div class="row">
    <div class="col-md-12">
        <div class="mg-20">
            <h5>Click to get list of unspent transactions:</h5>
            <button type="button" id="lsus-btn" class="btn btn-primary" name="button">View Available UTXOs</button>
        </div>     
    </div>
    <div class="cards" id="res-lsus"></div>    
</div>