<% include partials/header.ejs %>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="getbestblockhash" class="screen-req">Best Block</a></li>
                <li><a href="getblockchaininfo" class="screen-req">Blockchain Info</a></li>
                <li><a href="getblockcount" class="screen-req">Blockchain Count</a></li>
                <li><a href="getchaintips" class="screen-req">Blockchain Tips</a></li>
                <li><a href="getconnectioncount" class="screen-req">Connection Count</a></li>
                <li><a href="getmemoryinfo" class="screen-req">Memory Info</a></li>
                <li><a href="getmininginfo" class="screen-req">Mining Info</a></li>
                <li>---------------------------------</li>
                <li><a href="rawtransaction" target="_blank">Raw Transaction</a></li>
                <li><a href="multisig" target="_blank">Create Multisig Transaction</a></li>
                <li><a href="spendmultisig" target="_blank">Spend Multisig Transaction</a></li>
            </ul> 
        </div>

        <div class="col-md-8">
            <div class="card d-none" id="res-card">
                <div id="screen" class="p-1"></div>
            </div>
        </div>
    </div>
</div>         

<% include partials/footer.ejs %>