<% include partials/header.ejs %>
<div class="container">
    <%include partials/listunspent.ejs %>
    <%include partials/unsignedhexrawtx.ejs %>
    <button type="submit" id="sendTxBtn" class="btn btn-success">Send Transaction</button>
</div>
<div class="mg-20"></div>
<% include partials/footer.ejs %>
