<% include partials/header.ejs %>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="mg-20">
                <h5>Click to get list of unspent transactions:</h5>
                <button type="button" id="lsus-btn" class="btn btn-primary" name="button">Click me</button>
            </div>     
        </div>
        <div class="cards" id="res-lsus"></div>    
    </div>

    <div class="row"
        <div class="col-md-12">
            <div class="mg-20">
                <label for="sendaddr">Address of Receiver where amount to send: </label>
                <input type="text" id="sendaddr" class="form-control">
                <label for="amnt">Amount to send (KEEP MINER's FEE IN MIND): </label>
                <input type="text" id="amnt" class="form-control" placeholder="Amount in FLO">
                <br>
                <button type="button" id="crtx-btn" class="btn btn-primary" name="button">Send FLO</button>
            </div>
    </div>
    <div class="cards mg-20" id="res-card"></div>          

    <div class="row">
        <div class="col-md-12">
            <div class="mg-20"></div>
            <label for="sendTxDiv">Your Transaction Hex will appear here.</label>
            <div id="sendTxDiv" class="card" disabled="true"></div>
            <button type="submit" id="sendTxBtn" class="btn btn-success">Send Transaction</button>
        </div>
    </div>
    <div class="cards mg-20" id="res-card-result"></div> 
</div>
<div class="mg-20"></div>
<% include partials/footer.ejs %>
