<% include partials/header.ejs %>

<div class="container">
    <h2>Spend from a Multisig address:</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="_importaddress">Import an address:</label>
                <input type="text" class="form-control" id="_importaddress" aria-describedby="addrHelp" placeholder="Enter address to be imported">
                <small id="addrHelp" class="form-text text-muted">We'll never share your data with anyone else.</small>
              </div>
              <button type="submit" id="importaddress-btn" class="btn btn-primary">Submit</button>
        </div>
    </div>

    <%include partials/listunspent.ejs %>
    <%include partials/unsignedhexrawtx.ejs %>

    <label for="_redeemscript">Enter your Redeem Script that you got while creating the Multi Sig Address: </label>
    <textarea class="form-control" id="_redeemscript" cols="30" rows="10" placeholder="Place your Reddem script"></textarea>

    <button type="submit" id="sendMultiSigTxBtn" class="btn btn-success">Send Transaction</button>
</div>
<div class="mg-20"></div>
<% include partials/footer.ejs %>